In [1]:
import pandas as pd
import numpy as np
import re

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed',)).History will not be written to the database.

In [12]:
etalon = pd.read_csv('clean_data/peterochka_clean.csv')
etalon.head(2)

,Название,Категория,Бренд,Вес,Продукт
0,"Cоус ""Mr. Ricco"" Грибной на основе растительны...","Соусы, орехи, консервы.",Mr. Ricco,210г,Cоус
1,"Cоус ""Mr. Ricco"" Сырный на основе растительных...","Соусы, орехи, консервы.",Mr. Ricco,210г,Cоус

okey - готово

ashan - нужно парсить (нет продуктов) (https://www.auchan.ru/pokupki/eda.html)

perecrestok - готово (спаршено + скаченные данные)

peterochka - спаршено (не очень много)

magnit - нужно парсить(https://edadeal.ru/moskva/retailers/magnit-univer)

azbuka_vkusa

metro - готово

utkonos

In [112]:
shops = ['okey.csv', 'ashan.csv',  'perecrestok.csv', 'azbuka_vkusa.csv', 'metro.csv', 'utkonos.csv']

In [226]:
df = pd.read_csv(f'data/{shops[4]}', skiprows=1, encoding='cp1251', delimiter=';')
df.shape

(27192, 20)

In [227]:
df.columns

Index(['Код', 'Категория', 'Название', 'Цена', 'Старая цена', 'Наличие',
       'Описание', 'Производитель', 'Бренд', 'Вес(Объем)', 'Жиры', 'Белки',
       'Углеводы', 'Калорийность', 'Состав', 'Информация', 'Ссылка на товар',
       'Ссылка на изображение', 'Дата обновления', 'Регион'],
      dtype='object')

In [229]:
df = df[['Категория', 'Название', 'Производитель', "Бренд", 'Вес(Объем)']]

In [236]:
df.sample(10)

,Категория,Название,Производитель,Бренд,Вес(Объем)
1256,"Для бутербродов и сэндвичей/Майонез, соусы, ке...",Кетчуп Балтимор По-сибирски с хреном 260 г,Юнилевер Русь ООО,Балтимор,260 г
19303,Товары для дома/Бытовая химия/Капсулы и таблет...,Капсулы для стирки Ariel Pods 3 в 1 Горный Род...,Procter & Gamble,Ariel,710 г
6418,Детские товары/Хобби и творчество/Рисование,Мел школьный №1 School Отличник белый 9 шт,Комус ООО,№1 School,NaN
12242,Дача и сад/Уход за садом/Садовая техника,Триммер аккумуляторный GreenWorks G40LT30,Гринворкстулс ООО,Greenworks,NaN
26156,Овощи и фрукты/Фрукты /Груши,Груши Вильямс,Без бренда,Без бренда,1 кг
21043,Рыба и морепродукты/Морепродукты/Креветки,Креветка Crues Congelees на хвосте очищенная с...,Sandhya Aqua,Crues Congelees,NaN
10938,"Все для ремонта/Ручные инструменты/Ножи, ножни...",Набор лезвий Vira 831108 для точных работ с де...,Ди Ай Вай Тулз ООО,Vira,NaN
22337,"Детские товары/Ежедневный уход/Крема, масла и ...",Лосьон Nivea детский солнцезащитный SPF 50+,Nivea,Nivea,200 мл
9583,Автотовары/Автомобильные аксессуары/Органайзер...,Автомобильный ящик Rexxon складной,МХУ ООО,Rexxon,38 л
9749,Автотовары/Шины и диски/Шины,Автошины Pirelli Cinturato P1 Verde 205/55 R16...,Автоэксперт ООО,Pirelli,NaN

In [231]:
df = df.dropna(subset=['Название']).dropna(subset=['Категория']).drop_duplicates()

In [232]:
df.shape

(26762, 5)

## Категории

In [ ]:
Макароны, крупы, специи
Птица, мясо, деликатесы
Подборки и готовые блюда
Хлеб, сладости, снеки
Чай, кофе, сахар
Соусы, орехи, консервы
Рыба, икра
Замороженные продукты
Товары для мам и детей
Молоко, сыр, яйца
Овощи, фрукты, ягоды
Воды, соки, напитки
Алкоголь

Посуда
Товары для дома и дачи
Дача и гриль
Красота, гигиена, бытовая химия
Зоотовары

Бытовая техника
Системы нагревания и электронные сигареты
Посуда
Скидки месяца
Постные продукты
Другое
Удалить

In [240]:
from IPython.display import clear_output


result = {}
for i in df['Категория'].apply(lambda x: x.split('/')[0]).unique():
    print(i)
    category = input()
    result[i] = category
    clear_output()

In [237]:
df['Категория'].apply(lambda x: x.split('/')[0] ).unique()

array(['Мелочи возле кассы', 'Молочные продукты', 'Консервы и соленья',
       'Косметика и гигиена', 'Рыба и морепродукты', 'Овощи и фрукты',
       'Электроника и Бытовая техника', 'Сладости', 'Товары для дома',
       'Помощь иммунитету', 'Мясо и птица', 'Соусы, специи, приправы',
       'Сыры', 'Детские товары', 'Чай и кофе', 'Товары для офиса',
       'Канцелярия', 'Бакалея', 'Сухофрукты, орехи, семечки',
       'Готовые блюда и полуфабрикаты', 'Колбасы, сосиски, деликатесы',
       'Хлеб и выпечка', 'Вода, соки, напитки', 'Для животных',
       'Для бутербродов и сэндвичей', 'Дешевле, чем в магазине',
       'Спортивные товары', 'Все для ремонта', 'Дача и сад',
       'Чипсы и снеки', 'Автотовары', 'Яйца', 'Одежда, обувь, аксессуары'],
      dtype=object)

In [238]:
# df['Категория'].apply(lambda x: x.split('/')[1] if len(x.split('/')) > 1 else x.split('/')[0] ).unique()

In [164]:
df['Категория'] = df['Категория'].apply(lambda x: x.split('/')[1])

In [166]:
df.sample(10)

,Категория,Название,Производитель,Бренд,Вес товара
16263,Зоотовары,Поводок для собак Rukka Star черный 15мм 2м,Luhta Fashion,Rukka,NaN
5407,"Красота, гигиена, бытовая химия",Ополаскиватель для рта Лесной бальзам Форте 400мл,Unilever,Лесной бальзам,400 мл
5014,"Макароны, крупы, специи",Хлопья Nordic 4 злака 600г,Raisio Nutrition,Nordic,600 г
12157,"Красота, гигиена, бытовая химия",Гель для душа Johnsons Vita Rich Smoothies Рас...,Johnson&Johnson,Johnsons,250 мл
5576,"Птица, мясо, деликатесы",Ребрышки свиные Черкизово По-бельгийски в шоко...,Черкизовский МПЗ,Черкизово,1 кг
18661,"Красота, гигиена, бытовая химия",Кондиционер-ополаскиватель для белья Pure Wate...,Мико,Pure Water,480 мл
11258,"Чай, кофе, сахар",Чай черный Майский Благородный Цейлон 25 пак,Май,Майский,50 г
12100,"Воды, соки, напитки",Смузи биоактивный Be Plus Антиоксидант 150г,Juan y Juan Industrial S.L.U.,Be Plus,150 мл
18729,"Красота, гигиена, бытовая химия",Крем для лица Levrana Василек Регенерирующий 50мл,Леврана,Levrana,50 мл
302,"Чай, кофе, сахар",Чай зеленый Ahmad Tea с жасмином 25 пак,Ахмад,Ahmad Tea,50 г

In [170]:
def for_brand_perecrestok(brand: str, mark: str):
    return mark if mark else brand


df['Бренд'] = df.apply(lambda x: for_brand_perecrestok(x['Производитель'], x['Бренд']), axis=1)

In [175]:
def get_name_perecrestok(name: str, brand: str):
    if not brand or not isinstance(brand, str):
        return name.split()[0]
    res = []
    for word in name.split():
        if brand.startswith(word):
            break
        res.append(word)
    if res:
        if len(res) > 3:
            return name.split()[0]
        return ' '.join(res)
    return name.split()[0]

In [177]:
df['Продукт'] = df.apply(lambda x: get_name_perecrestok(x['Название'], x['Бренд']), axis=1)

In [184]:
df = df.rename(columns={'Вес товара': 'Вес'})

In [195]:
df = df[['Название', 'Категория', 'Бренд', 'Вес', 'Продукт']]

In [189]:
perek = pd.read_csv('clean_data/perekrestok_clean.csv')
print(perek.shape)
perek.head()

(4211, 5)

,Название,Категория,Бренд,Вес,Продукт
0,Желатин Dr.Oetker пищевой быстрорастворимый 30г,"Макароны, крупы, специи",Dr. Oetker,30 г,Желатин
1,Сухая смесь Maggi На второе для Нежного Филе к...,"Макароны, крупы, специи",Maggi,31 г,Сухая смесь
2,Приправа Capo di Gusto для рыбы 30г,"Макароны, крупы, специи",Capo di Gusto,30 г,Приправа
3,Петрушка Маркет Перекресток нарезанная 7г,"Макароны, крупы, специи",Маркет Перекресток,7 г,Петрушка
4,Ванилин Haas пищевой 1.5г,"Макароны, крупы, специи",Haas,2 г,Ванилин

In [29]:
from IPython.display import clear_output


result = {}
for i in df['Категория'].apply(lambda x: x.split('/')[-1]).unique():
    print(i)
    category = input()
    result[i] = category
    clear_output()

In [42]:
import pickle


with open('clean_data/okey_category.pickle', 'wb') as handle:
    pickle.dump(result, handle)

In [241]:
df['Категория'] = df['Категория'].apply(lambda x: result[x.split('/')[0]]).apply(lambda x: x.replace('.', '').strip())

In [242]:
df = df[df['Категория'] != 'Удалить']

In [243]:
df.shape

(25359, 5)

## Бренды

In [251]:
df.sample(5)

,Название,Категория,Бренд,Вес
1441,Перец черри Ellenika фаршированные сливочным с...,"Соусы, орехи, консервы",Ellenika,"0,15 - 0,4"
8668,Лампа Osram Е27 75W стандарт матовая,Бытовая техника,Osram,NaN
15600,Торт Renardi Три шоколада сырный лайт,"Хлеб, сладости, снеки",Renardi,NaN
7955,Ценник Контур лайн меловой 80 х 60 мм 3 шт,Другое,Контур лайн,NaN
22586,Блины С Пылу С Жару без начинки,Подборки и готовые блюда,С Пылу С Жару,NaN

In [250]:
df.shape

(24376, 4)

In [246]:
df.dropna(subset=['Бренд']).shape

(24376, 5)

In [247]:
df = df.dropna(subset=['Бренд'])

In [249]:
df = df[['Название', 'Категория', 'Бренд', 'Вес(Объем)']].rename(columns={'Вес(Объем)': 'Вес'})

In [252]:
def replace_brand(brand: str):
    if brand == 'Без бренда':
        return None
    return brand

In [253]:
df['Бренд'] = df['Бренд'].apply(replace_brand)

In [258]:
df = df.dropna(subset=['Бренд'])

In [259]:
df.shape

(23401, 4)

## Товар

In [261]:
df.sample(10)

,Название,Категория,Бренд,Вес
23321,Колбаса Рублевский Телячья вареная 450 г,"Птица, мясо, деликатесы",Рублевский,450 г
1949,Набор для опытов Master IQ2 Химия цвета с 8 лет,Товары для мам и детей,Master IQ2,400 г
887,Бритва Gillette Mach 3 Start с 3 сменными касс...,"Хлеб, сладости, снеки",Gillette,NaN
12693,Крем для рук Бархатные Ручки для всей семьи 45 мл,"Красота, гигиена, бытовая химия",Бархатные Ручки,"0,04 кг"
12968,Батончик Twix Minis шоколадный,"Хлеб, сладости, снеки",Twix,NaN
15328,Филей верхней части бедра говядины Праймбиф мр...,"Птица, мясо, деликатесы",Праймбиф,"2,5 кг"
5078,Щупальца кальмара Капитан Вкусов натуральные 2...,"Рыба, икра",Капитан Вкусов,200 г
21490,Шампунь-гель Intesa Odour Block регенерирующий,"Красота, гигиена, бытовая химия",Intesa,250 мл
25392,Каша Nestle молочная гречневая с 4 месяцев,Товары для мам и детей,Nestle,NaN
10928,Нож Vira Twist Lock 831401 25 мм с сегментиров...,Товары для дома и дачи,Vira,NaN

In [262]:
df.shape

(23401, 4)

In [263]:
df = df.drop_duplicates()

In [264]:
df.shape

(23371, 4)

In [265]:
def get_name_perecrestok(name: str, brand: str):
    if not brand or not isinstance(brand, str):
        return name.split()[0]
    res = []
    for word in name.split():
        if brand.startswith(word):
            break
        res.append(word)
    if res:
        if len(res) > 3:
            return name.split()[0]
        return ' '.join(res)
    return name.split()[0]

In [270]:
df['Продукт'] = df.apply(lambda x: get_name_perecrestok(x['Название'], x['Бренд']), axis=1)

In [274]:
df.sample(5)

,Название,Категория,Бренд,Вес,Продукт
21899,Средство Clin для мытья окон и стекол 500 мл,Товары для дома и дачи,Clin,"0,5 л",Средство
23932,Чай черный Hyleys Английский аристократический...,"Чай, кофе, сахар",Hyleys,500 г,Чай черный
11254,"Монтажная лента Tesa Powerbond 55760 1,5 м x 1...",Товары для дома и дачи,Tesa,NaN,Монтажная лента
9973,Игра Экономикус Лемминги с 6 лет,Товары для мам и детей,Экономикус,150 г,Игра
1825,Настольная игра Mattel Games Scrabble с 10 лет,Товары для мам и детей,Mattel,NaN,Настольная игра

In [277]:
df.to_csv('clean_data/metro_clean.csv', index=False)

In [2]:
df = pd.read_csv('clean_data/okey.csv')

In [4]:
df.head()

,Название,Категория,Бренд,Вес
0,Кешью ТЧН! жареный соленый 150г,"Соусы, орехи, консервы",ТЧН!,"0,15кг."
1,Кешью ТЧН! жареный 150г,"Соусы, орехи, консервы",ТЧН!,"0,15кг."
2,Игрушка АВТОМАТ ИГРАЕМ ВМЕСТЕ 184141,Товары для мам и детей,Играем вместе,NaN
3,Щипцы для выпрямления волос HOME ELEMENT HE-HB412,"Красота, гигиена, бытовая химия",Home element,NaN
4,Губка-блеск Мини Silver с дозатором силикона Ч...,Бытовая химия,Silver,"0,021кг."

### Загружаем данные и парсим через Тинькофф, получаем новые:

In [99]:
names = pd.read_csv('clean_data/okey_names.csv')
names.head()

,Наименование,Продукт,Бренд,Категория
0,Кешью ТЧН! жареный соленый 150г,"кешью, жареный соленый",—,"Продукты питания / Овощи, фрукты"
1,Кешью ТЧН! жареный 150г,кешью,—,"Продукты питания / Овощи, фрукты"
2,Игрушка АВТОМАТ ИГРАЕМ ВМЕСТЕ 184141,"игрушка, автомат",играем вместе,Товары для детей / Другое
3,Щипцы для выпрямления волос HOME ELEMENT HE-HB412,щипцы,home,Цифровая и бытовая техника / Техника для красо...
4,Губка-блеск Мини Silver с дозатором силикона Ч...,губка,блеск,Одежда и обувь / Одежда

In [100]:
sum(names['Продукт'].isna())

700

In [101]:
def fill_miss_product(name: str, product: str) -> str:
    if not isinstance(product, str) or product == '—':
        return name.split()[0]
    return product

In [102]:
names['Продукт'] = names[['Наименование', 'Продукт']].apply(lambda x: fill_miss_product(x['Наименование'], x['Продукт']), axis=1)
sum(names['Продукт'].isna())

0

In [103]:
names = names.rename(columns={'Наименование': 'Название'})[['Название', 'Продукт']]

In [104]:
result = pd.concat([names, df], axis=1, sort=False)[['Название', 'Категория', 'Бренд', 'Вес', 'Продукт']]
result = result.loc[:,~result.columns.duplicated()]
result.head()

,Название,Категория,Бренд,Вес,Продукт
0,Кешью ТЧН! жареный соленый 150г,"Соусы, орехи, консервы",ТЧН!,"0,15кг.","кешью, жареный соленый"
1,Кешью ТЧН! жареный 150г,"Соусы, орехи, консервы",ТЧН!,"0,15кг.",кешью
2,Игрушка АВТОМАТ ИГРАЕМ ВМЕСТЕ 184141,Товары для мам и детей,Играем вместе,NaN,"игрушка, автомат"
3,Щипцы для выпрямления волос HOME ELEMENT HE-HB412,"Красота, гигиена, бытовая химия",Home element,NaN,щипцы
4,Губка-блеск Мини Silver с дозатором силикона Ч...,Бытовая химия,Silver,"0,021кг.",губка

In [105]:
result['Продукт'] = result['Продукт'].apply(lambda x: x.split(', ')[0])

In [106]:
result.sample(10)

,Название,Категория,Бренд,Вес,Продукт
12991,Торт У Палыча Лесная поляна 650г,"Хлеб, сладости, снеки",У Палыча,"0,65кг.",торт
7738,Мясорубка Marta MT-2086,Бытовая техника,Marta,"2,7кг.",мясорубка
2897,Зефир Ванильный 225г КФ Таганрогская,"Хлеб, сладости, снеки",КФ Таганрогская,"0,225кг.",зефир
1901,"Банка с вакуум.кр. 0,6л д/сып.продуктов",Другое,Полимербыт,"0,6кг.",банка
13372,Агар-агар Айдиго 10г,"Хлеб, сладости, снеки",Айдиго,"0,01кг.",приправа
3685,Пельмени Скоровар 800г,Замороженные продукты,Скоровар,"0,8кг.",пельмени
1187,Колбаски Иней Ветчинные с горчицей 400г,"Птица, мясо, деликатесы",Иней,"0,4кг.",колбаски
5322,Семга филе-ломтики х/к Русское море 120г,"Рыба, икра",Русское море,"0,12кг.",семга
15363,Набор пирожных Север Невский бриз 280г,"Хлеб, сладости, снеки",Север,"0,28кг.",набор пирожных
374,РАПТОР Аэрозоль от моли с запахом лимона 175мл,Дача и гриль,Раптор,"0,175л.",аэрозоль

In [107]:
len(result['Продукт'].unique())

2134

In [109]:
result['Продукт'].value_counts()

книга                 387
сыр                   283
колбаса               254
напиток               237
чай                   220
                     ...
мфу                     1
спираль от комаров      1
патчи для глаз          1
печенье слоеное         1
приправа для гриля      1
Name: Продукт, Length: 2134, dtype: int64

In [110]:
result.to_csv('clean_data/okey_clean.csv', index=False)