In [12]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel('data/data.xlsx')

In [9]:
target_shops = [
    'АО "ТОРГОВЫЙ ДОМ "ПЕРЕКРЕСТОК"', 'ООО "АГРОТОРГ"', 'ООО "ЛЕНТА"',
   'АО "ДИКСИ ЮГ"', 'ООО "АШАН"', 'АО "ТАНДЕР"', 'ООО "БИЛЛА"', 'ООО "О`КЕЙ"',
    'ООО "АГРОАСПЕКТ"', 'ООО "АТАК"'
]

shops_rename = {
    'АО "ТОРГОВЫЙ ДОМ "ПЕРЕКРЕСТОК"': 'ПЕРЕКРЕСТОК',
    'ООО "АГРОТОРГ"': 'ПЯТЕРОЧКА',
    'ООО "ЛЕНТА"': 'ЛЕНТА',
    'АО "ДИКСИ ЮГ"': 'ДИКСИ',
    'ООО "АШАН"': 'АШАН',
    'АО "ТАНДЕР"': 'МАГНИТ',
    'ООО "БИЛЛА"': 'БИЛЛА',
    'ООО "О`КЕЙ"': 'О`КЕЙ',
    'ООО "АГРОАСПЕКТ"': 'ПЯТЕРОЧКА',
    'ООО "АТАК"': 'АТАК'
}

df = df[df['shop_name'].isin(target_shops)].copy()
df['shop_name'] = df['shop_name'].apply(lambda x: shops_rename[x])

In [10]:
df.head()

   shop_name                            name  quantity   price     sum
19     ДИКСИ  МИНТАЙ ФИЛЕ Б/К СВ/МОР П/ПАК 8       1.0  199.90  199.90
20     ДИКСИ  БЗМЖ МОЛОКО СТРАНА ВАСИЛЬКИ У/       1.0   49.99   49.99
21     ДИКСИ  СУШКИ ТАРАЛЛИНИ С ЧЕСНОКОМ 180       1.0   29.99   29.99
22     ДИКСИ  ЯЙЦО КУРИНОЕ СТОЛОВОЕ 1КАТЕГОР       1.0   63.99   63.99
23     ДИКСИ  ПЕЧЕНЬЕ ЮБИЛЕЙНОЕ ВИТАМИНИЗИРО       2.0   29.99   59.98

In [23]:
benchmarks = pd.DataFrame(columns=['shop_name', 'name'])

In [24]:
for shop in np.unique(list(shops_rename.values())):
    benchmarks = pd.concat([benchmarks, df[df['shop_name'] == shop].sample(5)[['shop_name', 'name']]])

In [61]:
benchmarks.head()

      shop_name                   name
41261      АТАК   ЖЕЛУДКИ 500Г/ПОДЛ/ТР
41677      АТАК   СОК ЯБЛ/БАНАН 6М 0,2
42169      АТАК    ТОМАТ БАКИНСКИЙ ВЕС
41432      АТАК        ЙОГ ВИШНЯ 250ГР
42541      АТАК    СР-ВО АНТИЖИР 500МЛ

In [ ]:
Красота, гигиена, бытовая химия
Хлеб, сладости, снеки
Молоко, сыр, яйца
Соусы, орехи, консервы
Макароны, крупы, специи
Другое
Воды, соки, напитки
Рыба, икра
Чай, кофе, сахар
Замороженные продукты
Товары для мам и детей
Птица, мясо, деликатесы
Посуда
Овощи, фрукты, ягоды
Товары для дома и дачи
Подборки и готовые блюда
Зоотовары
Бытовая техника
Дача и гриль
Алкоголь
Постные продукты

In [67]:
from IPython.display import clear_output

names = []
brands = []
category = []

for name in benchmarks['name']:
    print(name)
    names.append(input('Продукт:'))
    brands.append(input('Бренд:'))
    category.append(input('Категория:'))
    clear_output

In [68]:
benchmarks['product'] = names
benchmarks['brand'] = brands
benchmarks['category'] = category

In [70]:
benchmarks['product'] = benchmarks['product'].str.lower()
benchmarks['brand'] = benchmarks['brand'].str.lower()
benchmarks['product'] = benchmarks['product'].str.lower()

In [71]:
benchmarks.head()

,shop_name,name,product,brand,category
41261,АТАК,ЖЕЛУДКИ 500Г/ПОДЛ/ТР,желудки,троекурово,"Птица, мясо, деликатесы"
41677,АТАК,"СОК ЯБЛ/БАНАН 6М 0,2",сок,-,"Воды, соки, напитки"
42169,АТАК,ТОМАТ БАКИНСКИЙ ВЕС,томат,-,"Овощи, фрукты, ягоды"
41432,АТАК,ЙОГ ВИШНЯ 250ГР,йогурт,-,"Молоко, сыр, яйца"
42541,АТАК,СР-ВО АНТИЖИР 500МЛ,средство антижир,-,"Красота, гигиена, бытовая химия"

In [74]:
benchmarks.category.value_counts()

Овощи, фрукты, ягоды               11
Молоко, сыр, яйца                  10
Хлеб, сладости, снеки               6
Птица, мясо, деликатесы             4
Товары для дома и дачи              3
Соусы, орехи, консервы              3
Воды, соки, напитки                 2
Замороженные продукты               1
Красота, гигиена, бытовая химия     1
Другое                              1
Макароны, крупы, специи             1
Алкоголь                            1
Чай, кофе, сахар                    1
Name: category, dtype: int64

In [75]:
benchmarks.rename(columns={'name': 'Название'}, inplace=True)

In [ ]:
benchmarks.to_csv(be)